name: randomstring_dart
description: Simple, random string generator
version: 0.0.4
homepage: https://github.com/yasintuncel/randomstring_dart

environment:
  sdk: ">=2.15.1 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

flutter: